/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓*
 *┃                              WAYBAR STYLE                                ┃*
 *┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│                                 Colors                                   │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
@define-color background-color rgba(0, 0, 0, 0.75);/* Main background color */
@define-color background-tooltip rgba(0, 0, 0, 1);/* Tooltip background color */
@define-color background-hover rgba(200, 200, 200, 0.3);/* Hover element color */
@define-color background-active rgba(100, 100, 100, 0.5);	/* Active selection color */
@define-color border-main rgba(255, 255, 255, 0.2); /* Main border color */
@define-color textcolor rgba(255, 255, 255, 1); /* Main text color */
@define-color textcolor-main rgba(255, 255, 255, 1); /* Main text color */
@define-color textcolor-inactive rgba(255, 255, 255, 0.25); /* Inactive text color */
@define-color archlinux rgba(23, 147, 209, 1); /* Archlinux color */
@define-color red rgba(245, 60, 60, 1); /* Red color */
@define-color yellow rgba(255, 203, 48, 1); /* Yellow color */
@define-color green rgba(158, 206, 106, 1); /* Green color */

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│                                 Fonts                                    │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
* {
	/* font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
	font-family: Arial,  sans-serif;
	border: none;
	border-radius: 0px;
	text-shadow: none;
	box-shadow: none;
  /* font-weight: 600; */
  /* font-size: 12.7px; */
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│                            Waybar Window					                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
window#waybar {
  background:  @background-color;
	/* background-color: @background-color; */
  border-top: 0px solid @border-main;
  color: @textcolor-main;
	transition-property: background-color;
	transition-duration: .5s;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│                            Tooltip Windows				                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
tooltip {
  background: @background-tooltip;
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
  border-color: @border-main;
	font-size: 16px;
}
tooltip label{
  color: @textcolor-main;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│                           Workspaces Numbers			                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#workspaces {
  color: transparent;
	margin-right: 1.5px;
	margin-left: 1.5px;
}
#workspaces button {
  padding: 3px 3px 3px 3px;
	margin: 0px 3px 0px 0px;
  color: @textcolor-inactive;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
	color: @textcolor-main;
	/* border-bottom: 3px solid white; */
}
#workspaces button.focused {
  color: @background-active
}
#workspaces button:hover {
  background: @background-hover;
	color: @textcolor-main;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│																	Battery						                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#battery {
	padding: 0px 20px 0px 10px;
}
@keyframes blink {
    to {
				background-color: @background-color;
        color: @red;
				font-weight: bold;
    }
}
#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
		background-color: @background-color;
    color: @textcolor;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.warning:not(.charging) {
		color: @yellow;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│															Network	Wi-Fi					                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#network {
	padding: 0px 10px 0px 10px;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│																	Volume						                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#pulseaudio {
	/* font-family: "JetBrainsMono Nerd Font"; */
	padding-left: 10px;
  padding-right: 10px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│																 Bluetooth					                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#bluetooth {
	padding: 0px 10px 0px 10px;
}
#bluetooth:hover {
	color: #0082FC;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│															Clock / Calendar														 │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#clock {
	padding: 0px 10px 0px 10px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│														 Hardware Modules				                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#cpu, #disk, #memory, #temperature {
	padding: 0px 10px 0px 10px;
}

#temperature.critical {
	animation-name: blink;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│															Costum Modules				                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/

/* Logo / Appmenu */
#custom-archlogo{
    font-size: 17px;
    color: @textcolor;
    margin: 2px 15px 0px 10px;
}
#custom-archlogo:hover {
    color: @archlinux;
}

/* Exit */
#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:17px;
    color: @iconcolor;
    opacity: 0.8;
}
#custom-exit:hover {
		color: @red;
}

/* Shader / Blue light filter */
#custom-hyprshade {
	padding: 0px 10px 0px 10px;
}
#custom-hyprshade:hover {
	color: @yellow;
}

/* Cliphistory */
#custom-cliphist {
	padding: 0px 10px 0px 10px;
}
#custom-cliphist:hover {
	color: #7dcfff;
}

/* Emoji */
#custom-emoji {
	padding: 0px 10px 0px 10px;
}
#custom-emoji:hover {
	color: @yellow;
}

/* TODO: Screenshot */

/* Calculator */
#custom-calculator {
	padding: 0px 10px 0px 10px;
}
#custom-calculator:hover {
	color: #bb9af7;
}

/* Updates */
#custom-updates {
    color: @textcolor;
    padding: 0px 10px 0px 10px;
}
#custom-updates:hover {
	background: @background-hover;
	color: @textcolor-main;
}

#custom-updates.updated {
    color: @textcolor-inactive;
}

#custom-updates.has-updates {
    color: #FF9E64;
}

/*┌──────────────────────────────────────────────────────────────────────────┐*
 *│														Websites Shortcuts			                       │*
 *└──────────────────────────────────────────────────────────────────────────┘*/
#custom-firefox,
#custom-gmail,
#custom-github,
#custom-youtube,
#custom-files,
#custom-spotify,
#custom-teams,
#custom-outlook {
	padding: 0px 8px 0px 8px;
	font-size: 17px;
	opacity: 0.3;
}

#custom-chatgpt {
    background-image: url("./assets/openai.svg");
		padding: 2px 7px 2px 7px;
		margin: 0px 10px 0px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    opacity: 0.3;
}
#custom-chatgpt:hover {
		opacity: 1;
}

#custom-firefox:hover {
	color: #FF9E64;
	opacity: 1;
}

#custom-gmail:hover {
	color: #C71610;
	opacity: 1;
}

#custom-github:hover {
	opacity: 1;
}

#custom-youtube:hover {
	color: #FF0000;
	opacity: 1;
}

#custom-files:hover {
	color: @yellow;
	opacity: 1;
}

#custom-spotify:hover {
	color: #1ED760;
	opacity: 1;
}

#custom-teams:hover {
	opacity: 1;
	color: #bb9af7;
}

#custom-outlook:hover {
	color: #54DAFF;
	opacity: 1;
}

